.work-s {
    padding: 60px 0px;
    display: flex;
    align-items: center;

    .work-left {
        width: 100%;

        h2 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 56px;
            letter-spacing: -0.03em;
            text-transform: capitalize;
            color: #0D1317;
            margin-bottom: 24px;
        }

        .pi {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            color: #5B5B5B;
        }

        .neo {
            display: flex;
            align-items: center;
            margin-top: 40px;

            img {
                width: 100%;
            }

            .text {
                margin-left: 20px;

                .pi__1 {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 171%;
                    color: #063255;
                    margin-bottom: -10px;
                }

                .pi__2 {
                    font-family: 'Poppins';
                    margin-top: 10px;
                    margin-bottom: -5px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 171%;
                    color: #F58A07;

                }
            }
        }
    }

    .work__right {
        width: 100%;
        margin-left: 110px;

        img {
            width: 100%;
        }
    }
}



@media (max-width: 1177px) {
    .work-s {
        .work__right {
            margin-left: 50px;
        }
    }
}

@media (max-width: 1050px) {
    .work-s {
        .work__right {
            img {
                width: 90%;
            }
        }
    }
}

@media (max-width: 1000px) {
    .work-s {
        .work-left {
            h2 {
                font-weight: 600;
                font-size: 38px;
                line-height: 46px;
            }
        }
    }
}

@media (max-width: 950px) {
    .work-s {
        .work-left {
            h2 {
                margin-bottom: 18px;
            }

            .neo {
                margin-top: 25px;
            }
        }
    }
}

@media (max-width: 910px) {
    .work-s {
        flex-direction: column;
        align-items: center;
        text-align: center;

        .work-left {
            order: 2;
            .neo {
                justify-content: center;
                margin-bottom: 30px;

                .pi__1 {
                    margin-bottom: -6px;
                }
            }
        }
        row-gap: 20px;
        
        margin:0 auto;
        .work__right {
            order: 1;
            img {
                width: 50%;
            }
        }
    }
}

@media (max-width: 900px) {
    .work-s {
        .work__right {
            margin-left: 0px;

            img {
                width: 55%;
            }
        }
    }
}

@media (max-width: 610px) {
    .work-s {
        .work-left{
            h2{
                font-size: 32px;
            }
            .pi{
                font-size: 15px;
            }
            .neo .text{
                .pi__1{
                    font-size: 22px;
                }
                .pi__2{
                    font-size: 14px;
                }
            }
        }
        .work__right {
            img {
                width: 70%;
            }
        }
    }
}

@media (max-width: 500px) {
    .work-s {
        .work__right {
            img {
                width: 90%;
            }
        }
    }
}

@media (max-width: 400px) {
    .work-s {
        .work__right {
            img {
                width: 95%;
            }
        }

        .work-left {
            h2 {
                font-weight: 500;
                font-size: 30px;
                line-height: 40px;
            }
            .pi{
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}
@media (max-width: 290px) {
    .work-s {

        .work-left {
            h2 {
                font-size: 26px;
                line-height: 32px;
            }
            .pi{
                font-size: 13px;
            }
            .neo{
                flex-direction: column;
                align-items: center;
                text-align: center;
                .text{
                    .pi__1{
                        font-size: 16px;
                    }
                    .pi__2{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

