@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1150px;
  margin: auto;
}



// Navbar Start
nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background: white;
    width: 100%;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.068);
    .nav{
      display: flex;
      height: 80px;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0px 5px;
       .logo{
        color: black;
        font-size: 21px;
        font-weight: 600;
         a{
          text-decoration: none;
          list-style: none;
          color: black;
        }
      }
      ul{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;
        li{
          margin: 0 4px;
        }
        a{
            color: black;
          text-decoration: none;
          font-size: 14.5px;
          font-weight: 500;
          padding: 2px 5px;
          border-radius: 5px;
          letter-spacing: 1px;
          transition: all 0.2s ease;
        }
        .nav-btn3 {
            padding: 12px 20px;
            font-family: "Roboto", sans-serif;
            font-size: 13px;
            letter-spacing: 2.5px;
            font-weight: 500;
            color: #F58A07;
            border: none;
            border-radius: 30px;
            transition: all 0.3s ease 0s;
            cursor: pointer;
            outline: none;
            display: inline-block;
            text-align: center;
            background: rgba(245, 138, 7, 0.117);
          }
          
          .nav-btn3:hover {
            background-color: #2ee59d;
            box-shadow: 0px 15px 20px rgba(46, 229, 156, 0.229);
            color: black;
            transform: translateY(-5px);
          }
        a.active,
        a:hover{
          color: gray;
        }
      }
    }
}
.nav .menu-btn i{
    color: black;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
input[type="checkbox"]{
    display: none;
}
// Navbar End



/* Section1 start */
.section1 {
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 110px;
  position: relative;
}
.section1 .m {
  position: absolute;
  bottom: 1px;
  right: 0;
  width: 75px;
}

.flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0px 9px;
}

.left iframe{
    width: 100%;
    border-radius: 20px;
}
.left{
    width: 50%;
}


.icon-right {
  /* text-align: right; */
  position: absolute;
  /* align-items: end; */
  right: 0;
  bottom: 0;
}


.right {
  width: 40%;
}

.right .user-box {
  position: relative;
}

.right .user-box input {
  width: 100%;
  padding: 12px 8px;
  font-size: 13px;
  color: #7d7d7d;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid black;
}
.right .user-box input:focus {
  border-bottom: 1.8px solid;
}
.right .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px 8px;
  font-size: 14px;
  color: #7d7d7d;
  pointer-events: none;
  transition: 0.4s;
}

.right .user-box input:focus ~ label,
.right .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: black;
  font-size: 13px;
}
.right .user-box textarea{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  resize: none;
  outline: none;
  color: black;
}

.flex-inputla {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.nav-btn2 {
  padding: 14px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background: white;
  border: none;
  border-radius: 50px;
  margin-top: 15px;
  border: 1px solid #d9d9d9;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: inline-block;
  text-align: center;
  background-color: #F58A07;
}

.nav-btn2:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 156, 0.229);
  color: black;
  transform: translateY(-5px);
}
.user-box2 {
  border: 2px solid #01bab3;
  border-radius: 4px;
}
.btext{
    font-size: 35px;
    font-weight: 600;
}
.b {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 10px 10px;
  width: 100%;
}
.b2 {
  border-radius: 4px;
  padding: 10px 10px;
  width: 100%;
}
.span-message {
  color: #f67e7e;
}


// Nav , Section1
@media (max-width: 950px) {
  .nav{
    padding: 0px 30px;
    ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #111;
      color: white;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
      li{
        width: 100%;
        margin: 30px 0;
        a{
          width: 100%;
          margin-left: -100%;
          display: block;
          color: white;
          font-size: 20px;
          transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
      }
    }
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  #click:checked ~ ul{
    left: 0;
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  .nav .menu-btn i{
    display: block;
  }
  .nav ul li a.active,
  .nav ul li a:hover{
    background: none;
    color: cyan;
  }
  #no{
    display: block;
  }
  .section1 h1{
    text-align: left !important;
    font-size: 30px;
  }

}
// End

@media (max-width: 890px) {
  .flex {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
  }
  .left h1 {
    font-size: 50px;
  }
  .left iframe{
    width: 100%;
  }
  .left{
    width: 100%;
  }
  .left p {
    font-size: 25px;
  }
  .right {
    width: 100%;
  }
}