*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.containr{
    max-width: 1280px;

    @media (max-width:1024px){
        width: 86%;
    }
    margin: 0 auto;
}