* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

*,
::after,
::before {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

.containr {
    max-width: 1280px;
    margin: 0 auto;

    @media (max-width:1300px) {
        width: 86%;
    }
}