@import "../global";
@import "../layout/work";
@import "../layout/news";
.main1{
 background: #DCEAF5;
}
.main1__body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0px;
  .left{
    padding-top: 117px;
    // padding-bottom: 151px;
    h1{
      font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 72px;
/* or 112% */

letter-spacing: -0.03em;

color: #1D3444;

    }
    p{
      font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
/* or 167% */


color: #5B5B5B;
padding-top: 12px;
    }
    h6{
      font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */
  padding-top: 75px;
  
  color: rgba(57, 65, 73, 0.5);
    }
  }
  .right{
    padding-top: 85px;
    // margin-right: -170px;
    
  }
  .p1{
    margin-right: 45px;
  }
  .flex{
    img{
      transition: .5s;
      &:hover{
        transform: scale(1.1);
      }
      margin-top: 18px;
      // margin-right: 45px;
    }
    display: flex;
    button{
      margin-top: 32px;
      font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 106.5%;
/* identical to box height, or 17px */

text-transform: capitalize;
background-color: transparent;
color: #1D3444;
padding: 18px 32px;
border-radius: 27px;
border: none;
transition: .5s;
&:hover{
  background: #F58A07;
  color: white;
}
    }
  }
}
.daler{
  background-color: white;
  h1{
    width: 65%;
  }
  h5{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
/* or 167% */
width: 65%;
padding-top: 27px;
color: #5B5B5B;
padding-bottom: 64px;

  }
}
.main3{
  background: #EDF7FF;
  .flex{
    padding-top: 96px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    p{
      font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
/* or 167% */


color: #1D3444;

    }
    h1{
      font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
/* or 122% */

letter-spacing: -0.03em;

color: #0D1317;

    }
  }
}
.korobki{
  padding-bottom: 96px;
  padding-top: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 38px;
  .korobka{
    transition: .5s;
    &:hover{
      transform: scale(1.1);
    }
    background: #FFFFFF;
border-radius: 20px;
  }
  .div{
    padding: 48px 26px 37px 39px;
    p{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 106.5%;
/* identical to box height, or 26px */

letter-spacing: -0.03em;

color: #0D1317;
padding-top: 32px;
    }
    h6{
      font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
/* or 175% */


color: #5B5B5B;
padding-top: 16px;
    }
  }
}
.main4__body{
  padding-bottom: 85px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 47px;
  .right{
    transition: .5s;
    &:hover{
      .orange{
        display: block;
      }
    }
    padding-top: 90px;
    position: relative;
    .orange{
      top: 90px;
      position: absolute;
      left: 0px;
      background-color: transparent;
      background: #F58A07;
mix-blend-mode: multiply;
display: none;

    }
  }
  .left{
    padding-top: 166px;
    h1{
      font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 56px;
/* or 117% */

letter-spacing: -0.03em;

color: #0D1317;
    }
    p{
      font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
/* or 167% */

padding-top: 32px;
color: #5B5B5B;

    }
    .flex{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 26px;
      padding-top: 48px;
      h3{
        font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 50px;
/* identical to box height, or 139% */


color: #F58A07;

      }
      h4{
          font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 106.5%;
/* identical to box height, or 26px */

letter-spacing: -0.03em;

color: #0D1317;

      }
      p{
        font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
/* or 175% */

padding-top: 16px;
color: #5B5B5B;
      }
    }
  }
}
.main5__body{
  &:hover{
    .burchak{

      transform: rotate(360deg) !important;
    }
  }
  position: relative;
  background: #EDF7FF;
border-radius: 20px;
  padding: 48px;
  .burchak{
    position: absolute;
    right: 0;
    top: 0;

  }
 .div{
  display: grid;
  grid-column-gap: 140px;
  grid-template-columns: 1fr 1fr;
 }
  .flex{
    display: flex;
    button{
      transition: .5s;
      &:hover{
        color: #F58A07;
        background-color: white;
        border: white;

      }
      margin-right: 24px;
      font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */

text-transform: capitalize;
padding: 8px 24px;
border: 1px solid #A8BCCC;
border-radius: 31px;
color: rgba(6, 50, 85, 0.3);
    }
  }
  .right{
    position: relative;
    transition: .5s;
    &:hover{
      .orange2{
        display: block;
      }
    }
    .orange2{
      position: absolute;
      left: 0;
      top: 0;
      background: #F58A07;
mix-blend-mode: multiply;
border-radius: 20px 0px 0px 20px;
display: none;

    }
  }
  .left{
    h1{
      font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 56px;
/* or 117% */
padding-top: 80px;
letter-spacing: -0.03em;

color: #0D1317;
    }
    p{
      font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
/* or 167% */
padding-top: 25px;

color: #5B5B5B;

    }
    button{
      background-color: transparent;
      border: none;
      transition: .5s;
      &:hover{
        color: #F58A07;
      }
    }
}
}
.main6{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 128px;
  .right{
    padding: 120px;
    background: #F58A07;
    h1{
      font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 56px;
/* or 117% */

letter-spacing: -0.03em;

color: #FFFFFF;
    }
    button{
      transition: .5s;
      &:hover{
        color: #F58A07;
        background-color: #FFFFFF;

      }
      margin-top: 40px;
      font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 106.5%;
/* identical to box height, or 17px */

text-transform: capitalize;

color: #FFFFFF;
padding: 19px 32px;
background: transparent;
border-radius: 31px;
border: 1px solid #FFFFFF;
    }
  }
}