* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 841px !important;
    margin: auto;
    padding: 0px 20px;
}



.container2 {
    max-width: 1280px;
    margin: auto;
    // padding: 0px 20px;
    margin-bottom: 96px;
    // padding-bottom: 96px;
    overflow: hidden;

    img {
        // display: none;
        width: 20%;
        height: 23px;
        // margin-left: -297px;
        transition: 1s;
    }
}

main {
    .n-section1 {
        display: flex;
        justify-content: space-between;
        padding-top: 96px;

        h2 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 64px;
            line-height: 72px;
            letter-spacing: -0.03em;            
            color: #1D3444;
            
        }

        p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #232536;
            opacity: 0.6;
        }
    }

    .n-section2 {
        .n-sec2 {
            max-width: 841px;
            margin: auto;
            padding: 0px 0px;

            .h2 {
                padding-top: 56px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 54px;
                color: #232536;
                margin-bottom: 24px;
            }

            .pi {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #232536;
            }

            .pi-4 {
                padding-bottom: 96px;
            }

            .h2-2 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 36px;
                color: #232536;
                margin-top: 40px;
            }
        }
    }

    .n-section2:hover {
        img {
            // display: block;
            width: 100%;
            height: 23px;
            margin-left: 0px;
        }
    }
}





@media (max-width: 400px) {
    main {
        .n-section2 {
            .n-sec2 {
                .h2 {
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 44px;
                }
            }
        }
    }
}

@media(max-width:1020px) {
    .row {
        flex-direction: column;
        width: 100%;

        .col {
            width: 100%;
            text-align: left;
            margin-bottom: 25px;
            padding: 0 .8rem;
        }
    }
}

@media (max-width: 950px) {
    .nav {
        padding: 0px 30px;

        ul {
            position: fixed;
            top: 80px;
            left: -100%;
            background: #111;
            height: 100vh;
            width: 100%;
            text-align: center;
            display: block;
            transition: all 0.3s ease;

            li {
                width: 100%;
                margin: 30px 0;

                a {
                    width: 100%;
                    margin-left: -100%;
                    display: block;
                    font-size: 20px;
                    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                }
            }
        }
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    #click:checked~ul {
        left: 0;
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    .nav .menu-btn i {
        display: block;
    }

    .nav ul li a.active,
    .nav ul li a:hover {
        background: none;
        color: cyan;
    }
}

@media(max-width:768px) {
    .d {
        margin-left: -15px;
    }

    .row {
        flex-direction: column;
        width: 100%;

        .col {
            width: 100%;
            text-align: left;
            margin-bottom: 20px;
            margin-left: -15px;
        }
    }
}

@media(max-width:500px) {
    .footer-end {
        .fle {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}